body {
	text-align: center;
	padding: 0;
	margin: 0;
	font-family: monospace, sans-serif;
	background-color: #fcfcfc;
}

.action-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 20px;
}

.btn {
	font-family: monospace;
	width: 150px;
	background-color: #fcfcfc;
	padding: 10px;
	box-shadow: 0px 5px 10px #16161654;
	border-radius: 7px;
}

.btn.restart {
	background-color: #d20000bc;
	color: white;
}

.btn:hover {
	background-color: #161616;
	color: white;
}

.winner-txt {
	font-size: 30px;
	font-weight: 400;
}

.result-txt {
	margin: 50px auto;
}

body.win {
	background-color: #ddfadd51;
}

body.lose {
	background-color: #ffd6d689;
}
